body{
  font-size: 12px;
}

canvas{
  min-width: 100%;
  border-bottom: 1px solid black;
}

button{
  background: transparent;
  border: none;
  text-align: inherit;
  outline-width: 0px;
}

button:focus {
  outline-width: 0px;
}

.banner{
  height:auto;
}

.experience{
  border-radius: '5px';
  display: block;
  float: left;
  margin-bottom: 2%;
}


.title{
  float: none;
  display: block;
  text-align: center;
  font-size: 200%;
  margin-bottom: 5%;
  margin-top: 5%;
  #border: 1px solid black;
}

.work{
  float: right;
  text-align: right;
}

.educational{
  float: left;
}

.year{
  float: right;
  display: inline-block;
  width: 7%;
  text-align: center;
  background-color: black;
  color: white;
  min-width: 50px;
}

.description{
  display: none;
  overflow: hidden;
}

.publication{
  background-color: transparent;
  border-radius: '5px';
  margin-bottom: 2%;
}

.imgs{
  display: none;
}

.nav-link{
  color: white;
  background-color: black;
}

.skill{
  height: 30px;
  margin-top: 1%;
}

.software{
  background-color: #DDDDDD;
  float: left;
  overflow: hidden;
  height: 1em;
  white-space: nowrap;
}

.icon{
  display: inline-block;
}

.subcat{
  border-top: 1px solid black;
  margin-bottom: 1%;
  margin-top: 1%;
}

.category{
  margin-top: 1%;
  margin-bottom: 1%;
  border-top: 1px solid black;
  overflow: hidden;
}

.items{
  display: inline-block;
}

.cats{
  display: none;
  overflow: hidden;
}

.catname{
  float: left;
  overflow: hidden;
}

.subcatname{
  float: left;
  overflow: hidden;
}
